/* CSS Class */

.my_font{
    font-family: 'Desdemona' !important;
    /*font-size: 6em !important;*
    text-decoration: none !important;
    /*
    font-weight: lighter !important;
    font-style: bold !important;
	*/
}
