<span class="actions">
  <ul>
      <li class="cursor_pointer"><i class="fa fa-rocket social-icon"></i></li>
      <li class="cursor_pointer" onclick="window.open('https://www.instagram.com/humclubcol/')"><i class="fa fa-instagram social-icon"></i></li>
      <li class="cursor_pointer" onclick="window.open('https://www.facebook.com/humcolombia/')"><i class="fa fa-facebook-official social-icon"></i></li>
      <li class="cursor_pointer" ><i class="fa fa-whatsapp social-icon"></i></li>
  </ul>
</span>