<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand my_font" href="index.html">HUM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="agenda.html">Agenda</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="colectivo.html">Colectivo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="residentes.html">Residentes</a></li>
        <li><a href="promotores.html">Promotores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>