<!DOCTYPE html>
<html lang="es">
<head>
  <title>HUM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
  <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/hum.css">

  <link rel="stylesheet" type="text/css" href="../css/font-name.css">
  <link rel="stylesheet" type="text/css" href="../css/my_font.css">
  <link rel="stylesheet" type="text/css" href="../css/residentes.css">
  <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--link href="../css/fontawesome-all.css" rel="stylesheet"-->
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/html-includes.js"></script>

<link href='../fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<link href='../fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='../fullcalendar/lib/moment.min.js'></script>
<script src='../fullcalendar/lib/jquery.min.js'></script>
<script src='../fullcalendar/fullcalendar.min.js'></script>
<script src='../fullcalendar/residentes.js'></script>
<script src='../fullcalendar/locale-all.js'></script>
<script src='../fullcalendar/js/theme-chooser.js'></script>
<script src='../js/dates.js'></script>
  
</head>
<body>

<!-- NAV-BAR -->
<div w3-include-html="nav-bar.html"></div>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div w3-include-html="sidenav_left.html"></div>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1 class="my_font">Residentes</h1>
      
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
        <div class="middle">
          <!-- Button trigger modal Residente 1 -->
          <button type="button" class="btn btn-primary btn-lg image-profile" data-toggle="modal" data-target="#residente_1" style="background: url(../imgs/empty_profile.png) no-repeat;background-size:  contain;"></button>
          <!-- Modal -->
          <div class="modal fade" id="residente_1" tabindex="-1" role="dialog" aria-labelledby="residente_1Label" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                          </button>
                           <h4 class="modal-title" id="residente_1Label">Perfil Residente</h4>

                      </div>
                      <div class="modal-body">
                          <div role="tabpanel">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#infoTab" aria-controls="infoTab" role="tab" data-toggle="tab">Información</a>

                                  </li>
                                  <li role="presentation"><a href="#contactoTab" aria-controls="contactoTab" role="tab" data-toggle="tab">Contacto</a>

                                  </li>
                                  <li role="presentation"><a href="#tracksTab" aria-controls="tracksTab" role="tab" data-toggle="tab">Tracks</a>

                                  </li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <div role="tabpanel" class="tab-pane active" id="infoTab">upload Tab</div>
                                  <div role="tabpanel" class="tab-pane" id="contactoTab">contactoTab</div>
                                  <div role="tabpanel" class="tab-pane" id="tracksTab">tracksTab
                                    <ul class="playlist">
                                      <li>Track #1:
                                        <audio controls>
                                        <source src="../audio/horse.ogg" type="audio/ogg">
                                        <source src="../audio/horse.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio>
                                      </li>
                                      <li>Track #2:
                                        <audio controls>
                                        <source src="../audio/horse.ogg" type="audio/ogg">
                                        <source src="../audio/horse.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary save">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Button trigger modal Residente 2 -->
          <button type="button" class="btn btn-primary btn-lg image-profile" data-toggle="modal" data-target="#residente_2" style="background: url(../imgs/empty_profile.png) no-repeat;background-size:  contain;"></button>
          <!-- Modal -->
          <div class="modal fade" id="residente_2" tabindex="-1" role="dialog" aria-labelledby="residente_2Label" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                          </button>
                           <h4 class="modal-title" id="residente_2Label">Perfil Residente 2</h4>

                      </div>
                      <div class="modal-body">
                          <div role="tabpanel">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#infoTab2" aria-controls="infoTab2" role="tab" data-toggle="tab">Información</a>

                                  </li>
                                  <li role="presentation"><a href="#contactoTab2" aria-controls="contactoTab2" role="tab" data-toggle="tab">Contacto</a>

                                  </li>
                                  <li role="presentation"><a href="#tracksTab2" aria-controls="tracksTab2" role="tab" data-toggle="tab">Tracks</a>

                                  </li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <div role="tabpanel" class="tab-pane active" id="infoTab2">upload Tab 2</div>
                                  <div role="tabpanel" class="tab-pane" id="contactoTab2">contactoTab 2</div>
                                  <div role="tabpanel" class="tab-pane" id="tracksTab2">tracksTab 2
                                    <ul class="playlist">
                                      <li>Track #1:
                                        <audio controls>
                                        <source src="../audio/horse.ogg" type="audio/ogg">
                                        <source src="../audio/horse.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio>
                                      </li>
                                      <li>Track #2:
                                        <audio controls>
                                        <source src="../audio/horse.ogg" type="audio/ogg">
                                        <source src="../audio/horse.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary save">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>
          

          <!-- fin imgs residentes -->
        </div>
    </div>
    <div class="col-sm-2 sidenav">
      <<div w3-include-html="sidenav_right.html"></div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center ">
  <div w3-include-html="footer.html"></div>
</footer>

<script>
includeHTML();
</script>

</body>
</html>
